@page
@model PokeVerse.Pages.Pokedex.IndexModel
@{
    var imageUrl = "./images/";
    var png = ".png";
}

<body>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <h1 style="font-family: 'VT323', monospace;">Trainer Pokedex</h1>

    <div class="row">

        <div class="col-lg-4">
            <div class="trainer-profile">
                
                <div class="trainer-img-container">
                    <img src="~/images/ash.png" class="trainer-img" />
                </div>

                <ul class="trainer-info">
                    <h3>ASH KETCHUM</h3>
                    <li>Number of Pokemon: @Model.TrainerPokedex.PokedexPokemons.Count()</li>
                    <li>Date joined: @DateTime.Now</li>
                </ul>
                    
            </div>
        </div>

        <div class="col-lg-8 pokemon-container">


            @if (Model.TrainerPokedex.PokedexPokemons.Any())
            {

                foreach (var item in Model.TrainerPokedex.PokedexPokemons)
                {
                    var img = @imageUrl + @item.Pokemon.PokeNumber.ToString("D3") + png;
                    <form method="post">

                        <div class="card" style="width: 100%;">
                            <div class="row">

                                <div class="col pokemon-image m-1">
                                    <div class="card" style="width: 16em;">
                                        <div class="img-container">
                                            <img src=@img class="card-img-top" alt="@item.Pokemon.Name" style="max-width: 70%">
                                        </div>
                                        <div class="card-body">
                                            <CENTER>
                                                <h5 class="card-title">@item.Pokemon.Name</h5>
                                                <p class="card-text">
                                                    @item.Pokemon.Type0 <br />
                                                    @item.Pokemon.Type1
                                                </p>
                                            </CENTER>

                                        </div>
                                    </div>
                                </div>

                                <div class="col align-self-center">
                                    <div>
                                        <p>SPEED: @item.Pokemon.Speed</p>
                                        <p>Defense: @item.Pokemon.Defense</p>
                                        <p>Attack: @item.Pokemon.Attack</p>
                                    </div>
                                </div>
                                <div class="col align-self-center">

                                    <button type="submit" asp-page-handler="delete" class="btn btn-warning py-1">DELETE -</button>
                                    <input type="hidden" asp-for="@item.Pokedex.Id" name="pokedexId" />
                                    <input type="hidden" asp-for="@item.Pokemon.Id" name="pokemonId" />

                                </div>
                            </div>
                        </div>


                    </form>
                    
                }
            }
            else
            {
                <p style="font-family: 'VT323', monospace; color: white;"> There are no pokemon in your pokedex, go out and catch some...</p>
            }
        </div>

    </div>
</body>




